# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de configuración de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación
build/
dist/
*.egg-info/